.projectCardContainer{
    transition: background-color 0.3s ease;
}

.projectCardContainer:hover::before {
    background-color: var(--var-primary);
    cursor: pointer;
}

.projectCardContainer:hover {
    background-color: var(--var-primary);
    cursor: pointer;
}

.projectCardText{
    color: var(--var-text-light);
}

.projectCardProjName{
}