@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --var-text: #040808;
    --var-text-light: #e0f1ff;
    --var-text-grey: #89929a;
    --var-bg: #edf7ff;
    --var-primary: #087f8c;
    --var-secondary: #0b3a56;
    --var-accent: #ef4872;
    --var-navbar-height: 60px;
}

#root {
    overflow: visible;
}

.radix-themes {
    --cyan-12: var(--var-primary);
    --cyan-a9: var(--var-primary);
}


body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--var-text);
    background-color: var(--var-bg);
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

p {
    margin: 0;
}

.link {
    text-decoration: none;
}

.separator {
    width: 98%;
    height: 2px;
    background-color: var(--var-text-grey);
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: center;
    border-radius: 16px;
}