.tableBig{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--var-secondary);  
    background-color: white;
}

.tableBigHeader{
    text-align: left;
    background-color: var(--var-secondary);
    color: var(--var-text-light);
    font-size: 20px;
}


.tableBigHeaderCell{
    padding: 1rem 0.5rem 1rem 0.5rem;
}

.tableBigBody{
}

.tableBigRow{
    padding: 1rem;
    border-bottom: 2px solid var(--var-secondary);
}

td{
    padding: 0.5rem;
}