.homeContainer {
    text-align: center;
    padding-bottom: 4rem;
}

.homecardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 2rem
}

.projectCardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



