.rt-TableRow {
    border-bottom: 1px solid #e0e0e0;
    padding: 8px;
    
    &:hover {
        cursor: pointer;
        background-color: var(--teal-3);
        transition: background-color 0.3s ease-in-out;
    }
}