.sidebarContainer {
    position: sticky;
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--var-navbar-height));
    min-width: var(--var-sidebar-width);
    background-color: var(--var-primary);
    padding: 0px 8px 0px 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    top: var(--var-navbar-height);
    gap:1rem;
    white-space: nowrap;
}

.sidebarContainer:first-child {
}

.sidebarItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: var(--var-text-light);
    border-radius: 5px;
    padding: 4px;
    width: 100%;
}

.sidebarItem:hover {
    background-color: var(--var-secondary);
    transition: all 0.3s;
}