/* .tableSmallContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableSmall {
    text-align: left;
    color: white;
    border-collapse: collapse;
    font-size: 14px;
    width: 95%;
}

.tableSmallHeader{
    border-bottom: 2px solid #0a324a;
}

.tableSmallRow{
    border-bottom: 2px solid #0a324a;

} */
