.projectsSearhFilterContainer {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.projectsSearchFilter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--gray-6);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
}

.projectsSearchFilter:hover {
    background-color: var(--gray-3);
}